* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .mainContainer {
  max-width: 1100px;
  margin: 0 auto;
} */

.jamspotnav-title {
  display: flex;
  gap: 20px;
  color: white;
}

.mainTitle {
  text-align: center;
  padding: 70px;
  font-size: 24px;
}

.middleContainer {
  display: flex;
  justify-content: space-evenly;
}

.middle-check-fonts {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(77, 0, 150);
  padding-left: 40px;
  padding-right: 40px;
}

.buttons-nav{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.mainDescription {
  text-align: center;
  padding: 70px;
}

.footerContainer {
  background-color: #1a1a1a;
  color: white;
  padding: 30px;
  text-align: center;
}

.footerLinks ul {
  list-style-type: none;
  padding: 0;
}

.footerLinks li {
  display: inline;
  margin: 0 15px;
}

.footerLinks a {
  color: #646cff;
  text-decoration: none;
}

.footerLinks a:hover {
  color: #535bf2;
}

.socialMedia a {
  margin: 0 10px;
  color: #646cff;
  text-decoration: none;
}

.socialMedia a:hover {
  color: #535bf2;
}

.contactInfo p {
  margin: 5px 0;
}

.copyright p {
  margin-top: 20px;
}

.signUpButton {
  border: none;
  background: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.signUpButton:hover {
  color: #FF4500; /* Change text color on hover */
  transform: scale(1.2); /* More dramatic scale effect */
  text-shadow: 4px 4px 10px rgba(255, 69, 0, 0.8), 0 0 25px rgba(255, 69, 0, 0.6);
  letter-spacing: 1px;
}

.loginButton {
  border: none;
  background-color: none;
  color: white;
  background: none;
  font-size: 20px;
  transition: all 0.4s ease;
}

.loginButton:hover {
  color: #FF4500; /* Change text color on hover */
  transform: scale(1.2); /* More dramatic scale effect */
  text-shadow: 4px 4px 10px rgba(255, 69, 0, 0.8), 0 0 25px rgba(255, 69, 0, 0.6);
  letter-spacing: 1px;
}

.logoutButton {
  border: none;
  background-color: none;
  color: white;
  background: none;
  font-size: 20px;
  transition: all 0.4s ease;
}

.logoutButton:hover {
  color: #FF4500; /* Change text color on hover */
  transform: scale(1.2); /* More dramatic scale effect */
  text-shadow: 4px 4px 10px rgba(255, 69, 0, 0.8), 0 0 25px rgba(255, 69, 0, 0.6);
  letter-spacing: 1px;
}