* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.createEventContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}

.jamspotLetters {
  color: black;
}

.jamspotnav-title {
  display: flex;
  justify-content: center;
}

.createEventButton {
  color: white;
  background-color: rgb(107, 0, 107);
  transition: 0.3s;
  font-family: Cinzel Decorative;
}

.createEventButton:hover {
  background-color: rgb(128, 1, 1);
  transform: scale(1.1);
}

.createEventContainer2 {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url('/images/1735728029662.jpg');
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Cinzel Decorative;
  font-weight: bolder;
}

.removeSongButton {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.createEventButtonContainer {
  display: flex;
  justify-content: center;
}

.createEventButton3 {
  color: white;
  background-color: rgb(107, 0, 107);
  transition: 0.3s;
  font-family: Cinzel Decorative;
  width: 500px;
  background-color: rgb(71, 13, 13);
}

.createEventButton3:hover {
  background-color: rgb(128, 1, 1);
  transform: scale(1.1);
}

.songsContainer {
  display: flex;
  justify-content: center;
}