* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .h2login {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group labellogin {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group inputlogin {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .buttonlogin {
    width: 100%;
    padding: 10px;
    background-color:rgb(54, 0, 105);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
  }
  
  .buttonlogin:hover {
    background-color: #b30000;
    transform: scale(1.1);
  }
  
  .footerContainer {
    height: 239px;
  }

  .content-wrap {
    background-image: url('/images/1735516721232.jpg');
    background-repeat: none;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
  }